<a href="/">Search for Another Game</a>
<article>
    <h1>{{game.name}}</h1>
    {{#if game.cover}}
        <img alt="{{this.name}} Poster" src="https:{{game.cover}}">
    {{else}}
        <img alt="{{this.name}} Poster" src="/public/no_image.jpeg">
    {{/if}}
    <h2>Description</h2>
    <p>{{game.summary}}</p>

    <section>
        <h3>Info</h3>
        <dl>
            <dt>Playd Rating: </dt>
            <dd>{{game.score}}</dd>       

            <dt>Rating:</dt>
            <dd>{{game.rating}}</dd>
            {{#if game.genres}}
            <dt>Genres:</dt>
            <dd>
                <ul class="genres">
                    {{#each game.genres}}
                    <li>
                        {{this.name}}
                    </li>
                    {{/each}}
                </ul>
            </dd>
            {{/if}}
        </dl>
        {{#if game.reviews}}
        <h4>Reviews: </h4>
        <ul>
            {{#each game.reviews}}
                <li>
                    <h5>
                        {{this.user_id}}
                    </h5>
            
                    <p>
                         {{this.stars}} Stars
                    </p>
                    <p>
                        Review: {{this.review}}
                    </p>
                    
                    <label for="like-button" id="like-count-{{this.user_id}}">{{this.likes.length}}</label>
                    <button id="like-button" 
                     class="like-button"
                     data-user-id="{{this.user_id}}"
                     data-game-id="{{this.game_id}}"
                     class="{{#if isLiked}}liked{{else}}not-liked{{/if}}">Like</button>
                    <label for="dislike-button" id="dislike-count-{{this.user_id}}">{{this.dislikes.length}}</label>
                     <button id="dislike-button" 
                     class="dislike-button"
                     data-user-id="{{this.user_id}}"
                     data-game-id="{{this.game_id}}"
                     class="{{#if isDisliked}}disliked{{else}}not-disliked{{/if}}">Dislike</button>
                  
                </li>
            
            {{/each}}
            </ul>
        {{/if}}
    </section>
    {{#if user}}
    <button
    id="favorite-button"
    data-game-id="{{game.game_id}}"
    class="{{#if isFavorited}}favorited{{else}}not-favorited{{/if}}">
    {{#if isFavorited}}Unfavorite{{else}}Favorite{{/if}}
</button>
    {{#if error}}
    <div class="error-message" class="error-message">{{error}}</div>
    {{/if}}
    <div id="error-container" class = "error-container"></div>
    <form method="POST" id="myForm">
		<label id = 'formLabel'>
			Leave a review:
		</label>
            <div class="stars">
                <input type="radio" id="5stars" name="stars" value="5">
                <label for="5stars">&#9055;</label>
                <input type="radio" id="4stars" name="stars" value="4">
                <label for="4stars">&#9055;</label>
                <input type="radio" id="3stars" name="stars" value="3">
                <label for="3stars">&#9055;</label>
                <input type="radio" id="2stars" name="stars" value="2">
                <label for="2stars">&#9055;</label>
                <input type="radio" id="1star" name="stars" value="1">
                <label for="1star">&#9055;</label>
            </div>
             <div class="review"><textarea name="review" id="review"></textarea></div>
			<button type="submit">Post</button>
	</form>
    {{/if}}
</article>
