{{!--

If the user is logged in , and 'GET /user' endpoint is called, you will render this view based on the specs.

--}}
{{!-- <script>
const backgroundColor = '{{backgroundColor}}'; 
const fontColor = '{{fontColor}}'; 
document.documentElement.style.setProperty('--bg-color', backgroundColor);
document.documentElement.style.setProperty('--font-color', fontColor);
</script> --}}
<div id="userView">
    <p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}} and the current date is {{currentDate}}. Your role in the system is: {{role}}.</p>
    {{#if (eq role "admin")}}
        <a id="adminLink" href="/administrator">Administrator Page</a>
    {{/if}}
    <a id="signoutLink" href="/signoutuser">Sign out</a>
</div>
<div>
    <h2>Your Favorite Games</h2>
    <ul>
        {{#each likedGames}}
            <li>{{this.name}}</li>
        {{/each}}
    </ul>
    <form method="POST" action="/follow">
        <input type="hidden" name="userIdToFollow" value="{{userId}}">
        <button type="submit">Follow</button>
    </form>
    <h2>Followed Users</h2>
    <ul>
        {{#each followedUsers}}
        <li><a href="/profile/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
    <div>
        <h3>Add a Friend</h3>
        <form method="POST" action="/follow">
            <label for="friendUserId">Enter User ID:</label>
            <input type="text" id="friendUserId" name="userIdToFollow" placeholder="User ID" required />
            <button type="submit">Follow</button>
        </form>
    </div>
</div>
