{{!--

If the user is logged in , and 'GET /user' endpoint is called, you will render this view based on the specs.

--}}
<a id="signoutLink" href="/signoutuser">Sign out</a>
<div id="userView">
    <p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}} and the current date is {{currentDate}}.</p>
</div>
<div>
    <h2>Your Favorite Games</h2>
    <ul>
        {{#each likedGames}}
        <li>
            <a href="/getGame/{{this.game_id}}">
                <img src="https:{{this.cover}}" alt="{{this.name}}" style="width:50px; height:auto;" />
                {{this.name}}
            </a>
        </li>
        {{else}}
        <li>No favorite games yet.</li>
        {{/each}}
    </ul>
</div>
<div>
    <h2>Followed Users</h2>
    <ul>
        {{#each followedUsers}}
        <li><a href="/profile/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</div>
<div>
    <h2>Add a Friend</h2>
    {{#if error}}
        <div class="error-message">{{error}}</div>
    {{/if}}
    <div id="error-container" class = "error-container"></div>
    <form method="POST" action="/follow">
        <div class="form-group">
            <label for="friendUserId">Enter User ID:</label>
            <input type="text" id="friendUserId" name="userIdToFollow" placeholder="User ID" required />
        </div>
        <button type="submit">Follow</button>
    </form>
</div>
